		*{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body{
	background-color:#efefef;
}
.clearfix:after{
				content:'';
				display: table;
			}
			.clearfix:after{
				clear: both;
			}
.silde{
	float: left;
	line-height: 4rem;
	display: none;
	cursor: pointer;
}
.sildedown li{
		list-style: none;
		padding: 1rem;
		border-bottom: 1px solid gainsboro;
	}
.sildedown li a{
		text-decoration: none;
		color: black;
		font-size: 1.2rem;
}
.sildedown .silde_active{
	background-color: cornflowerblue;
	color: white !important;
}
.sildedown{			
	display: none;
	background: white;
	margin-top: 0.0rem;
	width: 100%;
	transition:transform .5s ease-out;
}

header{
	width: 100%;
	margin: 0 auto;
	background: white;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
header .nav{
	width: 70%;
	margin: 0 auto;
}
header h2{
	float: left;
	padding: 0.9rem;
	font-size: 1.5rem;
}
header nav ul{
	text-align: right;
}
header nav ul li{
	display: inline-block;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	padding-left: 0.6rem;
}
header nav ul li a{
	padding: 1.4rem 2rem;
	color: black;
	text-decoration: none;
	font-size: 1.1rem;
}
header .nav nav ul li a:hover{
	background-color: #3690cf;
	color: white;
}
header .nav nav ul .active{
	background-color: #3690cf;
	color: white;
}
header .nav nav ul .active a{
	color: white;
}